.BookPage2 {
   .form-container{
    .col{
        .row{
            > .field-container {
                margin: 0 20px 10px;
            }
        }
    }
   }
   .imageDoctor{
    margin-left:25% ;
   }
   .doctorProfile
   {

   }
   .header{
    margin: 40px 0px 10px 60px;
   }
   .Note{
    margin: 0 20% 0 20%;
   }
   .checkbox{
    margin: 2% 40% 5% 40%;
   }
}