.GoogleMapContain {

}

.locate {
    position: absolute;
    margin-left: 550px;
    margin-top: 455px;
    z-index: 10;
}

.search {
    position: absolute;
    margin-top: 450px;
    z-index: 10;
}